body, html {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.background-image {
  background-image: url("images/sunrise-gradient-purple-orange-red-sky_3442-6.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(89, 155, 122) ,#3cf);
  }

h1 {
    font-size: 50px;
    font-weight: bolder;
}

h2 {
    font-size: 24px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;

}

.hour {
  display: grid;
  grid-template-columns: 80px auto 80px;
  margin: 1px;
  /* grid-template-rows: auto;
  row-gap: 3px; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%; */
}

.hour-label {
  font-family: 'Orbitron', sans-serif;
  background: transparent;
  border: 1px solid black;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  justify-content: center;
  color: #42d6ad;
}

textarea {
  background-color: rgb(214, 213, 226);
  border-radius: 0px 5px 5px 0px;
  border: solid black 1px;
  font-family: 'Ubuntu', sans-serif;
}

::placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: black;
  opacity: 1;
}

.remove-button {
  font-family: 'Ubuntu', sans-serif;
  background: transparent;
  border: 1px solid black;
  border-radius: 5px 8px 8px 5px;
  text-align: center;
  justify-content: center;
  color: #42d6ad;
  transition: ease 0.4s;
}

.remove-button:hover {
  border-color: red;
}

#clear-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clear-button {
  font-family: 'Ubuntu', sans-serif;
  background-color: transparent;
  border: transparent;
  border-radius: 5px;
  transition: 0.4s; 
  color: darkslateblue;
  font-size: 24px;
  margin: 3px;
}

#clear-button:hover {
  border: 2px solid;
  border-color: darkslateblue;
  border-radius: 5px;
  transition: ease 0.4s;
}

#update-button {
  font-family: 'Ubuntu', sans-serif;
  background-color: transparent;
  border: 2px transparent;
  transition: 0.4s; 
  color: rgb(255, 172, 77);
  font-size: 24px;
  margin: 3px;
}

#update-button:hover {
  border: 2px solid;
  border-color: rgb(255, 172, 77);
  border-radius: 5px;
}



.underline {
  border-bottom: 2px solid rgb(75, 74, 74);
}

.underline-bold {
  border-bottom: 4px solid rgb(27, 27, 27);
}